<app-menu></app-menu>
<div class="container" *ngIf="isLogged && equipo">
    <div class="main-body">
          <div class="row gutters-sm ">
            <div class="col-md-4 mb-3 ">
              <div class="card" >
                <div class="card-body bg-dark" style="border-radius: 10%;">
                  <div class="d-flex flex-column align-items-center text-center">
                  
                      <div class="col" > <img src="{{equipo.logoEquipo}}" alt="Admin" class="rounded-circle" height="150" width="150"></div>
                   
                      <div class="col" style="color: rgb(104, 126, 224);" >
                        <h4>{{equipo.nombreEquipo}}</h4>
                      </div>
                    

                  </div>
                </div>
              </div>

            </div>
          </div>
    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
    <div class="container">
        <div class="content contact-list">
            <div class="card card-default">
                <div class="card-header align-items-center px-3 px-md-5">
                    <h2>Jugadores</h2>
    
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-contact">Añadir Jugador</button>
                </div>
    
                <div class="card-body px-3 px-md-5 bg-dark">
                    <div class="row">
                        <div class="col-lg-6 col-xl-4 col-md-6 col-sm-12"*ngFor="let usuario of jugadores">
                            <div class="card card-default p-4">
                                <a href="javascript:0" class="media text-secondary" data-toggle="modal" data-target="#modal-contact">
                                    <img src="{{usuario.imageUrl}}" class="mr-3 img-fluid rounded" alt="Avatar Image" />
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-2 text-dark"><i class="fa fa-user"></i>  &nbsp;&nbsp;{{usuario.nombreUsuario}}</h5>
                                        <ul class="list-unstyled text-smoke text-smoke">
                                            <li class="d-flex">
                                              <i class="fas fa-futbol"></i>
                                                &nbsp;&nbsp;{{usuario.posicion}}
                                            </li>
                                            <li class="d-flex" >
                                                <i class="mdi mdi-email mr-1"></i>
                                                <span>{{usuario.email}}</span>
                                            </li>
    
                                        </ul>
                                    </div>
                                </a>
                            </div>
                        </div>
    
    
                    </div>
                </div>
            </div>
    


            <!-- Add Contact Button  -->
            <div class="modal fade" id="modal-add-contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <form novalidate #f="ngForm">
                            <div class="modal-header px-4">
                                <h5 class="modal-title" id="exampleModalCenterTitle">Añadir Nuevo Jugador</h5>
                            </div>
                            <div class="modal-body px-4">
                                <div class="row mb-2">
                                    <div class="col-lg-6">
                                        <div class="form-group mb-4">
                                            <label for="userName">Nombre Jugador</label>
                                            <input type="text" [(ngModel)]="nuevoJugador" name="nuevoJugador" id="nuevoJugador" class="form-control" id="userName" placeholder="Nuevo Jugador" required/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer px-4">
                                <button type="button" class="btn btn-smoke btn-pill" data-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-primary btn-pill" id="añadir-jugador" (click)="OnNuevo()" > <i class="fas fa-plus-circle"></i>Guardar Jugador</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>


